<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>REGISTRO</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets" />
    <!-- Bootstrap icons-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
          <a href="/" class="navbar-brand">B Y A</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" aria-current="page"
                          href="/">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="/nosotros"> Nosotros</a></li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" href="/" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/maquillaje">Maquillaje</a></li>
                          <li>
                              <hr class="dropdown-divider" />
                          </li>
                          <li><a class="dropdown-item" href="/belleza">Articulos de belleza</a></li>
                          <li>
                              <hr class="dropdown-divider" />
                          </li>
                          <li><a class="dropdown-item" href="/skincare">Skincare</a></li>
                          <li>
                              <hr class="dropdown-divider" />
                          </li>
                          <li><a class="dropdown-item" href="/MasVendidos">Mas vendidos</a></li>
                        

                      </ul>
                  </li>
              </ul>
             
                 
                  
                  <a href="/Login" style="margin:1%">
                            <div  class="btn btn-outline-dark">
                                <div class="text-center">
                                    <spam>Iniciar Sesion</spam>
                                </div>
                            </div>
                        </a>
                    </div>
                  


                  </form>
          </div>
      </div>
  </nav>

  <header class="bg-dark py-5">
    <p class="notification"></p>


  <div class="container px-4 px-lg-5 my-5">

    <div class="container-form">

  <form id="formulario">
    <p class="form-title">Crea una cuenta para poder comprar</p>

    <div class="input-container"><label for="nombre"
      class="text-white bg-dark text-xs font-semibold relative top-2 ml-[7px] px-[3px] bg-[#e8e8e8] w-fit">Nombre</label>
        <input type="text" id="nombre" placeholder="Nombre">
      </div>
     <div class="input-container"><label for="email"
      class="text-white bg-dark text-xs font-semibold relative top-2 ml-[7px] px-[3px] bg-[#e8e8e8] w-fit">Email</label>
       <input id="email" type="email" placeholder="Ingrese su correo">
 
   </div>
   <div class="input-container">      <label 
    class="text-white bg-dark text-xs font-semibold relative top-2 ml-[7px] px-[3px] bg-[#e8e8e8] w-fit" for="telefono">Ingrese su numero de whatsapp (formato +584127030588)</label>

    <input type="text" value="+58" id="telefono" max="13">
  </div>
   
   <div class="input-container"><label for="password"
    class="text-white bg-dark text-xs font-semibold relative top-2 ml-[7px] px-[3px] bg-[#e8e8e8] w-fit">Contraseña</label>
       <input type="password" id="password" placeholder="Crea una contraseña">
     </div>
     <div class="input-container"><label for="password2"
      class="text-white bg-dark text-xs font-semibold relative top-2 ml-[7px] px-[3px] bg-[#e8e8e8] w-fit">Confirma la contraseña</label>
        <input type="password" id="confirmpass" placeholder="Confirma la contraseña">
      </div>  
      <button type="submit" id="save" class="submit">
     Crear usuario
   </button>

   <p class="signup-link">
     ¿Ya tienes cuenta?
     <a href="/Login">Iniciar sesion</a>
   </p>

</form>
    </div>
  </div>
  
  </header>
  <script type="module" src="index.js"></script>

</body>

</html>