<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MI CARRITO</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        
    </head>
    <body>

          <!-- Navigation-->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a  href="/dashboard" class="navbar-brand">B Y A</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            href="/USERPANEL">Home</a></li>
                
                </ul>
                <a class="d-flex">
                    <a style="margin:1%">
                        <div id="logOut" class="btn btn-outline-dark">
                            <div class="text-center">
                                <spam>Cerrar Sesion</spam>
                            </div>
                        </div>
  </a>
                   
                 
  </a>
  
            </div>
        </div>
  
  
  </nav>

<div class="bg-dark py-5">
    <p class="notification"></p>
    <div class="text-center text-white">
        <h1 class="display-4 fw-bolder" id="titulo"></h1>
        <p class="lead fw-normal text-white-50 mb-0" id="titulo2"></p>

     </div>  
          <section class="py-5">

             
            
            <div  class="container px-4 px-lg-5 mt-5">
                <div id="lista-productos" class="row gx-3 gx-lg-3 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">



            </div>
        </section>

        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
        <div class="pt-6"></div>
                                                        
</div>


</div>



<script src="index.js"  type="module" ></script>

    </body>

</html>

