<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>SKINCARE</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.tailwindcss.com"></script>

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a  href="/dashboard" class="navbar-brand">B Y A</a>
                <div class="navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                      <li class="nav-item"><a class="nav-link active" aria-current="page"
                              href="/dashboard">Home</a></li>
                  
                  </ul>
                  <a class="d-flex">
                      <a style="margin:1%">
                          <div id="logOut" class="btn btn-outline-dark">
                              <div class="text-center">
                                  <spam>Cerrar Sesion</spam>
                              </div>
                          </div>
    </a>
                     
                      <a href="/RegisterAdmin" style="margin:1%">
                          <div  class="btn btn-outline-dark">
                              <div class="text-center">
                                  <spam>Registrar administrador</spam>
                              </div>
                          </div>
                      </a>
    </a>
    
              </div>
          </div>   
  </nav>
<div class="bg-dark py-5">
          <section class="py-5">

            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">PRODUCTOS DE MAQUILLAJE</h1>

                <p class="lead fw-normal text-white-50 mb-0">Seleccione el producto que desea editar</p>
                </div>
            <div  class="container px-4 px-lg-5 mt-5">
                <div id="lista-productos" class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


            </div>
            </div>
        </section>


</div>


</div>



<script src="M.js"  type="module" ></script>

    </body>

</html>

