<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BYA</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="/assets" />
    <!-- Bootstrap icons-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container px-4 px-lg-5">
          <a href="/" class="navbar-brand">B Y A</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                  <li class="nav-item"><a class="nav-link active" aria-current="page"
                          href="/">Home</a></li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/maquillaje">Maquillaje</a></li>
                          <li>
                              <hr class="dropdown-divider" />
                          </li>
                          <li><a class="dropdown-item" href="/belleza">Articulos de belleza</a></li>
                          <li>
                              <hr class="dropdown-divider" />
                          </li>
                          <li><a class="dropdown-item" href="/skincare">Skincare</a></li>
                          <li>
                              <hr class="dropdown-divider" />
                          </li>
                          <li><a class="dropdown-item" href="/MasVendidos">Mas vendidos</a></li>
                        

                      </ul>
                  </li>
              </ul>
              <a class="d-flex">
                  <a href="/carrito" style="margin:1%">
                      <div class="btn btn-outline-dark">
                          <div  class="text-center">
                          <div class="bi-cart-fill me-1"></div>
</div>
           
                      </div>
                  </a>
              </a>
              <a class="d-flex">
                <a href="/userPanel" style="margin:1%">
                    <div class="btn btn-outline-dark">
                        <div class="text-center">
                          <div class="me-1"><svg height="25px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 389.34 389.34" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path style="fill:#000000;" d="M347.415,330.3c0,0.04,0,0.08,0,0.13c-40.37,36.61-93.96,58.91-152.74,58.91 c-58.79,0-112.38-22.3-152.75-58.91c0-0.05,0-0.09,0-0.13c0-60.89,35.63-113.45,87.17-137.98c19.37,19.32,42.05,29.73,65.58,29.73 c23.54,0,46.21-10.41,65.59-29.73C311.805,216.85,347.415,269.41,347.415,330.3z"></path> <path style="fill:#000000;" d="M194.675,0c46.66,0,84.49,37.82,84.49,84.48c0,46.67-37.83,110.49-84.49,110.49 s-84.49-63.82-84.49-110.49C110.185,37.82,148.015,0,194.675,0z"></path> </g></svg></div>
                        </div>
                      </div>
                      
                </a>
            </a>
                <div class="hidden" id="a">
                    <a class="d-flex">
                        <a style="margin:1%">
                            <div id="logOut" class="btn btn-outline-dark">
                                <div class="text-center">
                                    <spam>Cerrar Sesion</spam>
                                </div>
                            </div>
</a>
                    </a>      </div>    
                    <div class="hidden" id="b">    
                  <a href="/Register" style="margin:1%">
                            <div  class="btn btn-outline-dark">
                                <div class="text-center">
                                    <spam>Registrar</spam>
                                </div>
                            </div>
                        </a>
                    </div>
                  


                  </form>
          </div>
      </div>
  </nav>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">PRODUCTOS DE CALIDAD</h1>
            <p class="lead fw-normal text-white-50 mb-0">Ordena ya desde la comodidad de tu hogar</p>

        </div>
        <div class="container px-4 px-lg-5 my-5">
            <div class="carousel">
                <img src="../img/pexels-ron-lach-8129894.jpg" alt="Image 2">
                <img src="../img/pexels-beatrice-cornejo-1774264-3989775.jpg" alt="Image 2">
                <img src="../img/pexels-tuur-tisseghem-818043.jpg" alt="Image 3">
                <img src="../img/pexels-mart-production-7290179.jpg" alt="Image 1">


            </div>

        </div>

        <div class="text-center text-white">
            <p class="lead fw-normal text-white-50 mb-0">IMPORTANTE</p>

        </div>
        <div class="container text-white  px-4 px-lg-5 my-5">
            <p class="lead fw-normal text-white-50 mb-0">-Debe crear una cuenta en nuestro sitio para poder registrar cualquier compra y guardar productos en el carrito</p>
            <p class="lead fw-normal text-white-50 mb-0">-REVISAR SI EL NUMERO DE WHATSAPP ESTA BIEN ESCRITO AL MOMENTO DE REGISTRARSE</p>
            <p class="lead fw-normal text-white-50 mb-0">-Luego de realizar el pago, debe esperar a que el administrador confirme su pedido</p>
            <p class="lead fw-normal text-white-50 mb-0">-Al confirmar su pago el administrador se pondra en contacto con el cliente via whatsapp (No nos hacemos responsables si el numero esta mal escrito)</p>
            <p class="lead fw-normal text-white-50 mb-0">-Cliente en Caracas: Debera inidicarle al administrador su ubicacion o un punto clave para poder acordar el precio del delivery y la hora</p>
            <p class="lead fw-normal text-white-50 mb-0">-A nivel nacional cualquier envio es gratis</p>
            <p class="lead fw-normal text-white-50 mb-0">-Cliente en otro estado: Debera indicarle al administrador su ubicacion exacta, y acordar las pautas del envio</p>
            <p class="lead fw-normal text-white-50 mb-0">-Si un cliente envia un pago y no responde al administradorvia whatsapp en un maximo de 15 dias, su pedido se descarta sin devolucion de pago</p>
            <p class="lead fw-normal text-white-50 mb-0">-NO ACEPTAMOS DEVOLUCIONES DE PRODUCTOS</p>



        </div>
    </header>
    <!-- Section-->
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">TODOS LOS DERECHOS RESERVADOS</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <!-- Core theme JS-->

    <script type="module" src="home.js"></script>
</body>

</html>