<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="../css/styles.css" rel="stylesheet" />

</head>

<body>
   <!-- Navigation-->
   <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a href="/" class="navbar-brand">B Y A</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page"
                        href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/nosotros"> Nosotros</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="/" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/maquillaje">Maquillaje</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/belleza">Articulos de belleza</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/skincare">Skincare</a></li>
                        <li>
                            <hr class="dropdown-divider" />
                        </li>
                        <li><a class="dropdown-item" href="/MasVendidos">Mas vendidos</a></li>
                      

                    </ul>
                </li>
            </ul>
     
                <a href="/Register" style="margin:1%">
                    <div class="btn btn-outline-dark">
                        <div class="text-center">
                            <spam>Registrar</spam>
                        </div>
                    </div>
                </a>
                


                </form>
        </div>
    </div>
</nav>
  <header class="bg-dark py-5">
 
    <p class="notification"></p>
<div class="pt-6"></div>
<div class="pt-6"></div>

<div class="pt-6"></div>

  <div class="container px-4 px-lg-5 my-5">
    <div class="container-form">
  
  <form id="formulario">
    <p class="form-title">Ingresa con tu cuenta</p>
  
  
     <div class="input-container"><label for="email"
      class="text-white bg-dark text-xs font-semibold relative top-2 ml-[7px] px-[3px] bg-[#e8e8e8] w-fit">Email</label>
       <input name="email" id="email" type="email" placeholder="Ingrese su correo">
   </div>
   <div class="input-container"><label for="password"
    class="text-white bg-dark text-xs font-semibold relative top-2 ml-[7px] px-[3px] bg-[#e8e8e8] w-fit">Contraseña</label>
       <input type="password" name="password" id="password" placeholder="Crea una contraseña">
     </div>
      <button type="submit" class="submit">
     Iniciar sesion
   </button>
  
   <p class="signup-link">
     ¿No tienes cuenta?
     <a href="/Register">Regístrate</a>
   </p>
  
  </form>
    </div>
   
    </div>
    <div class="pt-6"></div>
    <div class="pt-6"></div>
    <div class="pt-6"></div>
    <div class="pt-6"></div>
    <div class="pt-6"></div>

  </header>
 
  <script type="module" src="index.js"></script>
</body>

</html>