<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>EDITAR</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    </head>
    <body>
  

     <!-- Navigation-->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a  href="/dashboard" class="navbar-brand">B Y A</a>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page"
                            href="/dashboard">Home</a></li>
                
                </ul>
                <a class="d-flex">
                    <a style="margin:1%">
                        <div id="logOut" class="btn btn-outline-dark">
                            <div class="text-center">
                                <spam>Cerrar Sesion</spam>
                            </div>
                        </div>
  </a>
                   
                    <a href="/RegisterAdmin" style="margin:1%">
                        <div  class="btn btn-outline-dark">
                            <div class="text-center">
                                <spam>Registrar administrador</spam>
                            </div>
                        </div>
                    </a>
  </a>
  
            </div>
        </div>
</nav>
<div class="bg-dark py-5">
    <div style="padding-top: 4rem;"></div>

          <section class="py-5">
            <div class="text-center text-white">
            <p class="lead fw-normal text-white-50 mb-0">Seleccione la categoria de los productos que desea administrar</p>
            </div>
            <div  class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">


                    
      <div class="col mb-5">
        <div class="card h-100">
        
        
        
        
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">MAQUILLAJE</h5>
  
              
          
                </div> 
         
            </div>
                    <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/editarMaquillaje">Ver productos</a></div>
  
            </div>
          
        </div>


        </div>
        
                    
      <div class="col mb-5">
        <div class="card h-100">
        
        
        
        
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">SKINCARE</h5>
  
              
          
                </div> 
         
            </div>
                    <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/editarSkincare">Ver Productos</a></div>
  
            </div>
          
        </div>

      </div>

                 
      <div class="col mb-5">
        <div class="card h-100">
        
        
        
        
            <!-- Product details-->
            <div class="card-body p-4">
                <div class="text-center">
                    <!-- Product name-->
                    <h5 class="fw-bolder">BELLEZA</h5>
  
              
          
                </div> 
         
            </div>
                    <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/editarBelleza">Ver Productos</a></div>
  
            </div>
          
        </div>

      </div>



           


            </div>
        </section>

        <div style="padding-top: 6rem;"></div>

</div>


</div>



<script src="editar.js"></script>
    </body>

</html>

